

body{
    background-color: #EEEEEE;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
}
#timer{
    font-size: 8rem;
    font-weight: 700;
    color: #393E46;
    width: 600px;
    text-shadow: 5px 20px #C4FB6D;
    text-align: center;
    margin: 0 auto;
}
#buttons{
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

button{
    background-color: #637b3d;
    font-size: 3rem;
    color:  #EEEEEE;
    padding: 10px 40px;
    border: none;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #494d54;
}

button[disabled]{
opacity: 0.7;
cursor: default;
}

@media(max-width: 800px){
    #timer{
        font-size: 5rem;
        width: 400px;
    }
    button{
        font-size: 1.5rem;
        padding: 8px 35px ;
    }
}
